*{ margin:0px; padding:0px; list-style:none;}
li{ list-style:none;}
a img{ border:0px;}
a{ text-decoration:none;}
body{ height:100%; background-color:#ffffff; margin:0px; padding:0px; list-style:none;font-family:"Microsoft YaHei";}
/*body{ height:100%; background-color:#ffffff; background:url(2013-kids-bg01.jpg) top left; margin:0px; padding:0px; list-style:none;font-family:"Microsoft YaHei";}*/

.cl{ clear:both;}
.container{width:100%; height:100%; margin:auto;}
.fwb{font-weight:bold;}

.text-fff{color:#ffffff;}
.text-fff a{color:#ffffff; text-decoration:none;}

.lh35{ line-height:35px;}

.fs12{ font-size:14px;}
.fs12 a{ font-size:14px;}

.nav{ width:161px; height:525px; background:url(../images/navbg.png) top center repeat-y; position:absolute; overflow:hidden;left:50%;top:0px;margin-left:-500px;text-align:left;z-index:99;}
.logo{ width:145px; padding-left:8px; padding-bottom:10px; float:left;}

.nav01{ width:161px; height:525px;  float:left;}
#jyjnav {width:161px; height:370px; line-height: 35px;  list-style-type: none;  }
#jyjnav a { width: 161px;   display: block; text-align:center;}
#jyjnav a:link  { color:#af2e44; text-decoration:none;}
#jyjnav a:visited  { color:#af2e44; text-decoration:none;}
#jyjnav a:hover  { color:#af2e44; text-decoration:none; }
#jyjnav li { width: 161px; height:35px; font-size:14px; background:url(../images/nav02.png) bottom center no-repeat; float: left;}
#jyjnav li:hover{ font-size:16px; line-height:28px; background:url(../images/nav01.png) top center no-repeat; _background:url(../images/nav01.gif) top center no-repeat;}
#jyjnav li:hover a{ font-size:16px;}
#jyjnav li ul { width: 145px; margin-top:1px; font-size:14px; margin-left:8px; line-height: 30px;  list-style-type: none; text-align:left; left: -999em; position: absolute;}
#jyjnav li ul li{ width: 145px; height:30px; line-height:30px; border-bottom:#ffffff 1px solid; background: #ffe96c; float: left;}
#jyjnav li ul li a{ width: 145px; display: block; text-align:center;}
#jyjnav li:hover ul li a{font-size:14px;}
#jyjnav li ul li a:link  { color:#ffa800; text-decoration:none;}
#jyjnav li ul li a:visited  { color:#ffa800; text-decoration:none;}
#jyjnav li ul li a:hover  { height:30px; font-size:14px; line-height:30px; color:#ff6600; text-decoration:none; background:#ffd200;}
#jyjnav li:hover ul { left: auto;}
#jyjnav li.sfhover ul { left: auto;}


.esj{ width:100%; height:525px; margin:0 auto;}
.esj01{ width:1002px; height:525px; margin:0 auto;}

.zw{ width:810px; height:480px; padding-top:45px; float:right;}
.lm{ width:788px; height:30px; background:url(../images/icon03.jpg) left center no-repeat; padding-left:22px; float:left;}
.lm span{ height:30px; font-size:18px; color:#612500; line-height:30px; padding-right:10px; background-color:#ffffff; float:left;}

.lb{ width:770px; height:395px; padding:20px 0px 0px 40px; float:left;}
.lb li{ width:500px; height:30px; background:url(../images/icon04.jpg) center left no-repeat; padding-left:15px; font-size:14px; line-height:30px; color:#333333; float:left;}
.lb a{ color:#333333;}
.lb a:hover{ text-decoration:underline;}
.lb02{ width:730px; height:150px; padding:0 40px; float:left;}
.lb02 ul{ width:365px; height:150px; float:left;}
.lb02 ul li{ width:350px; height:30px; background:url(../images/icon04.jpg) center left no-repeat; padding-left:15px; font-size:14px; line-height:30px; color:#333333; float:left;}
.lb02 a{ color:#333333;}
.lb02 a:hover{ text-decoration:underline;}

.zw01{ width:730px; height:395px; padding:20px 40px 0px 40px; float:left;}
.zw01 strong{ width:730px; height:30px; font-size:20px; color:#612500; text-align:center; float:left;}
.zw01 p{ width:730px; font-size:14px; color:#745942; line-height:24px; padding-bottom:10px; float:left;}
.zw01 span{ font-size:14px; color:#666666; line-height:24px; float:left;}

.shzr{ width:730px; height:280px; padding:20px 40px 0px 40px; float:left;}
.job{ width:500px; height:395px; padding:20px 270px 0px 40px; float:left;}
.job span{ width:500px; float:left;}
.job01{ font-size:18px; line-height:35px; font-weight:bold; color:#ef4c05;}
.job02{ font-size:16px; line-height:30px; font-weight:bold; color:#333333;}
.job03{ font-size:14px; line-height:24px; padding-bottom:15px; color:#666666;}

.bq01{ width:670px; height:20px; font-size:14px; color:#ffae00; padding-left:140px; float:left;}
.bq01 li{ padding:0 5px; float:left;}
.bq01 li a{ color:#ffae00; display:block; text-decoration:none;}
.bq01 li a:hover{ border-bottom:#ff6600 2px solid; color:#612500;}

.bq02{ width:670px; height:20px; font-size:14px; color:#ffae00; padding-left:140px; float:left;}
.bq02 li{ padding:0 10px; float:left;}
.bq02 li a{ color:#ffae00; display:block; text-decoration:none;}
.bq02 li a:hover{ border-bottom:#ff6600 2px solid; color:#612500;}

.zsb{ width:730px; height:375px; padding:20px 40px 0px 40px; float:left;}
.zsb li{ width:730px; height:100px; background-color:#fefae7; margin-bottom:20px; float:left;}
.zsb span{ padding-right:20px; float:left;}
.zsb strong{ width:540px; height:28px; font-size:16px; color:#612500; line-height:28px; padding-top:5px; font-weight:normal; float:left;}
.zsb strong a{ color:#612500;}
.zsb p{ width:540px; font-size:14px; color:#745942; line-height:24px; float:left;}
.zsb p a{ color:#745942;}

.zsb03{ width:736px; height:375px; padding:20px 34px 0px 40px; float:left;}
.zsb01{ width:736px; height:240px; float:left;}
.zsb01 span{ padding-right:20px; float:left;}
.zsb01 strong{ width:286px; height:28px; font-size:18px; color:#333333; line-height:28px; padding-top:5px; font-weight:normal; float:left;}
.zsb01 strong a{ color:#333333;}
.zsb01 p{ width:280px; font-size:16px; color:#666666; line-height:24px; float:left;}
.zsb01 p a{ color:#666666;}
.zsb02{ width:736px; height:75px; padding-top:20px; float:left;}
.zsb02 li{ width:122px; height:70px; background-color:none; float:left;}
.zsb04{ width:730px; height:375px; padding:20px 40px 0px 40px; float:left;}
.zsb04 strong{ width:730px; font-size:16px; color:#612500; line-height:30px; text-align:center;float:left;}
.zsb04 p{ font-size:14px; padding-bottom:10px; color:#745942; line-height:24px;}
.zsb04 img{ float:right;}

.menu{ width:730px; height:395px; padding:20px 40px 0px 40px; float:left;}
.menu ul{ width:730px; height:190px; float:left;}
.menu ul li{ width:240px; height:190px; float:left;}
.menu img{ float:left;}
.menu span{ width:240px; font-size:14px; color:#612500; line-height:24px; text-align:center; float:left;}
.menu span a{ color:#612500;}

.link{ width:730px; height:395px; padding:20px 40px 0px 40px; float:left;}
.link ul{ width:730px; height:80px; float:left;}
.link ul li{ width:170px; height:65px; font-size:18px; color:#612500; line-height:65px; background:url(../images/link.jpg) top left no-repeat; text-align:center; padding-right:30px; float:left;}
.link ul li a{ color:#612500; }

.gkxs{ width:770px; height:395px; padding:20px 20px 0px 20px; float:left;}
.gkxs li{ width:770px; padding-bottom:10px; border-bottom:#e3dfd1 1px dashed; margin-bottom:20px; float:left;}
.gkxs img{ width:50px; padding-right:20px; float:left;}
.gkxs span{ width:700px; height:22px; font-size:16px; color:#612500; float:left;}
.gkxs p{ width:700px; font-size:14px; color:#745942; line-height:24px; float:left;}

.fy{ height:35px; float:right;}
.fy a{ color:#ffffff; text-decoration:none;}
.fy span{ padding-right:5px; font-size:12px; color:#ffffff; line-height:24px; text-align:center; float:left;}
.fy01{ width:55px; height:24px; background:url(../images/fy01.jpg) left center no-repeat; padding-right:6px;}
.fy01:hover{ background:url(../images/fy02.jpg) left center no-repeat;}
.fy02{ width:25px; height:24px; background:url(../images/fy03.jpg) left center no-repeat;}
.fy02:hover{ background:url(../images/fy04.jpg) left center no-repeat;}
.fy03{ width:61px; height:24px; background:url(../images/fy05.jpg) left center no-repeat; padding-right:6px;}
.fy03:hover{ background:url(../images/fy06.jpg) left center no-repeat;}

.footer{ width:100%; height:180px; background-color:#f48c33; margin:0 auto;}
.footer01{ width:1002px; height:180px; margin:0 auto;background:url(../images/slogan-logo-v1.gif) no-repeat;}
.f-l{ width:145px; height:180px; background-color:#ff6600; float:right;}
.f-r{ width:849px; height:180px; float:right;}
.f-r01{ width:849px; height:55px; float:left;}
.f-r01 span{ float:left;}
.f-r0101{ width:142px; height:55px; background:url(../images/icon_01.jpg) top left no-repeat; float:left;}
.f-r0101:hover{ background:url(../images/icon02_01.jpg) top left no-repeat; display:block;}
.f-r0102{ width:142px; height:55px; background:url(../images/icon_02.jpg) top left no-repeat; float:left;}
.f-r0102:hover{ background:url(../images/icon02_02.jpg) top left no-repeat; display:block;}
.f-r0103{ width:142px; height:55px; background:url(../images/icon_03.jpg) top left no-repeat; float:left;}
.f-r0103:hover{ background:url(../images/icon02_03.jpg) top left no-repeat; display:block;}
.f-r0104{ width:142px; height:55px; background:url(../images/icon_04.jpg) top left no-repeat; float:left;}
.f-r0104:hover{ background:url(../images/icon02_04.jpg) top left no-repeat; display:block;}
.f-r0105{ width:142px; height:55px; background:url(../images/icon_05.jpg) top left no-repeat; float:left;}
.f-r0105:hover{ background:url(../images/icon02_05.jpg) top left no-repeat; display:block;}
.f-r0106{ width:69px; height:55px; background:url(../images/icon_06.jpg) top left no-repeat; float:left;}
.f-r0106:hover{ background:url(../images/icon02_06.jpg) top left no-repeat; display:block;}
.f-r0107{ width:69px; height:55px; background:url(../images/icon_07.jpg) top left no-repeat; float:left;}
.f-r0107:hover{ background:url(../images/icon02_07.jpg) top left no-repeat; display:block;}
.f-r02{ width:829px; height:90px; color:#fce1d0; font-size:12px; padding-left:20px; float:left;}
.f-r0201{ width:240px; height:25px; margin-top:65px; float:left;}
.f-r020101{border-right:#fec1d0 1px solid;}
.f-r020102{border-right:none;}
.f-r0201 li{ height:14px; padding:0 10px; margin-top:5px; float:left;}
.f-r0201 a{ color:#fce1d0;}
.f-r0201 a:hover{ color:#993e01;}
.f-r0202{ width:180px; height:25px; line-height:25px; margin-top:65px; float:left;}
.f-r0203{ width:250px; height:50px; margin-top:10px; background:url(../images/wsdc03.jpg) top left no-repeat; float:right;}
.f-r0203:hover{ background:url(../images/wsdc04.jpg) top left no-repeat;}
.f-r03{ width:829px; height:30px; font-size:12px; color:#993e01; line-height:24px; padding-left:20px; float:left;}
.f-r0301{ width:240px; float:left;}

.none{ display:none;}
.banner{ min-width:1002px;height:525px; position:relative; margin:0 auto; overflow:hidden; z-index:1;}
.banner_show{ width:100%; text-align:center; height:525px; overflow:hidden; position:relative;}
.bannger_inbox{ position:absolute; left:50%; top:0;}

.banner_pre_next{position:relative;z-index:105;top:500px;width:774px;left:50%; height:25px;margin-left:-300px;*left:240px;}
.banner_pre_next a{ width:25px; height:25px; background:url(../images/btn.png) no-repeat; _background:url(../images/btn.gif) no-repeat; text-indent:-999em;}
.banner_pre_next .banner_btn_left{position:absolute;right:5px; background-position:0px 0px;}
.banner_pre_next .banner_btn_right{position:absolute;right:-25px; background-position:-25px 0px;}


#weixin{left:50%; margin-left:500px; margin-bottom:-100px; top:0; z-index:99; position:absolute}
/*new*/
.f-r03 a{color:#993e01;}
#siderBar{width:180px;height:130px;top:0;right:0;position:fixed;z-index:99;}
.fy01,.fy02,.fy03{cursor:pointer;}
/*add css顾客心声*/
.gkxs li a{color:#612500;}
.gkxs p a{color:#745942;}
.f-r0101{ width:142px; height:55px; background:url(../images/yhq_01.jpg) top left no-repeat; float:left;}
.f-r0101:hover{ background:url(../images/yhq_02.jpg) top left no-repeat; display:block;}